.card {
  width: 350px;
  cursor: pointer;
}

.card-main {
  width: 100%;
  height: 170px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background-color: #FCE000;
  transition: all 0.5s ease-out;

  &:hover {
    transform: scale(1.05);
    background-color: #F2D700;
  }
}

.text-container {
  padding: 0 1rem;

  h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 2px;
  }
}
