.page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form {
  padding: 32px;
  border-radius: 32px;
  border: 1px solid gray;
  flex-direction: column;
  row-gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-input {
  border-radius: 10px;
  padding: 0.5rem 0.5rem;
  font-size: 24px;
}

.form-button {
  width: 100%;
  border-radius: 10px;
  height: 3rem;
}

