<article class="page">
  <form nz-form [formGroup]="form" (ngSubmit)="onSubmit()" class="auth-form">
    <h2>Authentication</h2>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your token!">
        <input type="text" nz-input formControlName="token" placeholder="Token (type anything...)" class="auth-input"/>
      </nz-form-control>
    </nz-form-item>
    <button nz-button class="form-button" [nzType]="'primary'" [disabled]="form.hasError('required','token')"
            nzSize="large">
      Sign
    </button>
  </form>
</article>
