.page {
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
}


th {
  background-color: #FCE000;
  padding: 1rem;
}

tr {
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: #D2D0CC;
  }
}

td {
  padding: 1rem;

}
