<article class="page">
  <form nz-form [formGroup]="form" (ngSubmit)="onSubmit()" class="auth-form">
    <h2>Create New Product</h2>
    <nz-form-item>
      <nz-form-label nzFor="name">Name</nz-form-label>
      <nz-form-control nzErrorTip="Please enter name of product!">
        <input type="text" nz-input formControlName="name" placeholder="Chair"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="description">Description</nz-form-label>
      <nz-form-control nzErrorTip="Please enter description of product!">
        <textarea nz-input formControlName="description" placeholder="Description" nzAutosize></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="description">SKU</nz-form-label>
      <nz-form-control nzErrorTip="Please enter SKU!">
        <input type="text" nz-input formControlName="sku" placeholder="CHAIR"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="cost">Cost</nz-form-label>
      <nz-form-control nzErrorTip="Please enter cost of product!">
        <nz-input-number
          formControlName="cost"
          [nzStep]="0.5"
          [nzPlaceHolder]="'50'"
        ></nz-input-number>
      </nz-form-control>
    </nz-form-item>
    <ng-container *ngIf="profileInputList.length">
      <form nz-form [formGroup]="profileForm" class="auth-form">
        <h3>Profile Properties:</h3>
        <nz-form-item class="form-item" *ngFor="let input of profileInputList" [ngSwitch]="input.inputType">
          <nz-form-label [nzFor]="input.formControlName">{{ input.label }}</nz-form-label>
          <ng-container *ngSwitchCase="'select'">
            <nz-select [formControlName]="input.formControlName" nzPlaceHolder="Select {{input.label | lowercase}}">
              <nz-option *ngFor="let option of input.value" [nzLabel]="option|titlecase"
                         [nzValue]="option"></nz-option>
            </nz-select>
          </ng-container>
          <ng-container *ngSwitchCase="'switch'">
            <nz-switch [formControlName]="input.formControlName"></nz-switch>
          </ng-container>
          <ng-container *ngSwitchCase="'number'">
            <nz-input-number
              [formControlName]="input.formControlName"
              [nzStep]="1"
              [nzPlaceHolder]="'50'"
            ></nz-input-number>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <input type="text" nz-input [formControlName]="input.formControlName"
                   [placeholder]="input.formControlName | titlecase"/>
          </ng-container>
          <button nz-button (click)="removeInputField(input)"><span nz-icon nzType="delete" nzTheme="outline"></span>
          </button>
        </nz-form-item>
        <button nz-button nzType="dashed" nzShape="round" class="form-button" nzSize="large"
                (click)="addInputField()">
          Add Properties
        </button>
      </form>
    </ng-container>
    <button nz-button nzShape="round" class="form-button" [nzType]="'primary'" [disabled]="form.invalid"
            nzSize="large">
      Create Product
    </button>
  </form>
</article>
