.layout {
  min-height: 100vh;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #D2D0CC;
}

.main-content {
  margin-top: 64px;
  background-color: #fff;
  height: 100%;
}
