h1 {
  cursor: pointer;
}

.layout {
  min-height: 100vh;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #D2D0CC;
  z-index: 999;

  button {
    border-radius: 10px;
    background-color: #FFF;
    border: 2px solid #FCE000;
    color: #21201F;
    font-weight: bold;
    height: 3rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #FCE000;

    }
  }
}

.main-content {
  margin-top: 64px;
  background-color: #fff;
  height: 100%;
}
